<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for MetadataHelper (2).ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Release (Any CPU)&quot; configuration in project &quot;F:\Application-Studio\MSBuildProjects2\GACManager\Reflector .NET\ccimetadata-2.0.8.17659\MetadataHelper\MetadataHelper.csproj&quot;." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1706" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2233" Action="None" />
  </Rules>
</RuleSet>